// vendors
$vendors: "-moz-", "-webkit-", "-o-", "-ms-", ""; 

// colors definitaions
$white:#fff;
$lightGreyBg:#F9FAFF;
$grey:grey;
$greyIcon:#111111;
$blackgrey:#222222;
$black:#000;
$startGradiant:#B72CFE;
$endGradiant:#7647FB;

// font family
$boldFont:'../fonts/Raleway-SemiBold.ttf';
$regFont:'../fonts/Raleway-Regular.ttf';

// img paths
$logo:'..img/logo.png';
$uniqueIcon:'../img/f-icon-1.png';
$heroBg:'../img/home-banner.jpg';
$heroImg:'../img/right-mobile.png';
$interiorMockup1:'../img/interior-1.png';
$interiorMockup2:'../img/interior-2.png';
$video:'../img/video-1.png';
$videoIcon:'/img/video-icon-1.png';
$feature1:'../img/feature-1.jpg';
$feature2:'../img/feature-2.jpg';
$feature3:'../img/feature-3.jpg';
$feature4:'../img/feature-4.jpg';
$testi1:'../img/testi-1.png';
$testi2:'../img/testi-2.png';